<div class="container d-flex justify-content-center">
    <div class="col-6" *ngIf="freight">
        <h2 class="text-center">{{freight.name | titlecase }}</h2>
        <p class="text-center">{{freight.description}}</p>
        <p class="text-center">{{freight.validTo | date:'dd-MM-yyyy'}}</p>
<div class="container">
    <h1>{{freight.name}}</h1>
    <h2>{{freight.description}}</h2>

    <div>
        Id: <p>{{freight.id}}</p>
        Valid To: <p>{{freight.validTo | date:'dd-MM-yyyy'}}</p>
        Freight type: <p>{{freight.type | freightType}}</p>
    </div>
    
    <strong>Source:</strong>
    <div [outerHTML]="freight.source | freightLocalization"></div>
    <strong>Destination:</strong>
    <div [outerHTML]="freight.destination | freightLocalization"></div>
</div>