<div class="container">
    <div class="filters">
        <div class="btn-group mr-2 h-25" mdbDropdown>
            <button mdbDropdownToggle type="button" size="sm" mdbBtn color="primary" class="dropdown-toggle waves-light"
                mdbWavesEffect>
                Filters
            </button>
            <div class="dropdown-menu dropdown-primary">
                <ng-template ngFor let-freightType [ngForOf]="freightTypes()">
                    <mdb-checkbox [checked]="freightTypeFilters.includes(freightType)" [default]="true"
                        (change)="$event.checked ? addFreightTypeFilter(freightType) : removeFreightTypeFilter(freightType)">
                        {{freightType | freightType}}</mdb-checkbox>
                </ng-template>
            </div>
            <button modal-trigger type="button" size="sm" mdbBtn color="primary" class="ml-2" mdbWavesEffect>Advanced filters</button>
        </div>
        <div class="advancedSearch md-form w-25">
            <input class="form-control form-control-sm mb-4" name="search" type="text" placeholder="Search...">
        </div>
    </div>
</div>

<freight-list [freights]="freights" [filterType]="freightTypeFilters" (freightSelectedEvent)="selectedFreight = $event">
</freight-list>

<simple-modal id="filters-modal" title="Advanced filtering">
    <div class="container">
        <ng-template ngFor let-freightType [ngForOf]="freightTypes()">
            <mdb-checkbox [checked]="freightTypeFilters.includes(freightType)" [default]="true"
                (change)="$event.checked ? addFreightTypeFilter(freightType) : removeFreightTypeFilter(freightType)">
                {{freightType | freightType}}</mdb-checkbox>
        </ng-template>
    </div>

    <div class="container">
    Source country:
    <select>
    </select>

    Destination country:
    <select>
    </select>
    </div>
</simple-modal>