<div class="container" *ngIf="freights">
  <table mdbTable>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody *ngFor="let freight of freights" >
          <ng-container *ngTemplateOutlet="basic;context:{freight:freight}"></ng-container>
          <ng-container *ngTemplateOutlet="details;context:{freight:freight}"></ng-container>
    </tbody>
  </table>
</div>

<ng-template #basic let-freight="freight">
  <tr>
      <td>{{freight.Name}}</td>
      <td>{{freight.Description}}</td>
      <td><button type="button" class="btn blue-gradient btn-sm btn-block" (click)="freight.HideExtras = !freight.HideExtras">{{freight.HideExtras ? "show details" : "hide details"}}</button></td>
  </tr>
</ng-template>

<ng-template #details let-freight="freight" let-hide="hideExtras">
    <tr [hidden]="freight.HideExtras">
      <div>
          Id: <p>{{freight.Id}}</p>
          Valid To: <p>{{freight.ValidTo | date:'dd-MM-yyyy'}}</p>
          <button type="button" mdbBtn color="primary" class="btn blue-gradient btn-sm btn-block" mdbWavesEffect
            [routerLink]="[freight.Id]">Edit</button>
      </div>
    </tr>
</ng-template>