<div class="container" *ngIf="resultFreights">
    <table mdbTable striped="true" bordered="true" hover="true">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngTemplateOutlet="rowTemplate;context:{freights:freights,$implicit:true}"></ng-container> -->
        <ng-template ngFor let-freight [ngForOf]="resultFreights">
          <tr mdbTableCol>
            <td scope="row">{{freight.Name}}</td>
            <td scope="row">{{freight.Description}}</td>
            <td scope="row"><button type="button" class="btn blue-gradient btn-sm btn-block"
                (click)="freight.hide = !freight.hide">{{!freight.hide ? "show details" : !!freight.hide ? "hide details" : "show details"}}</button>
            </td>
          </tr>
          <tr mdbTableCol [hidden]="!freight.hide" class="grey lighten-1 black-text">
            <td>
              Id: <p>{{freight.Id}}</p>
              Valid To: <p>{{freight.ValidTo | date:'dd-MM-yyyy'}}</p>
              Freight type: <p>{{freight.Type | freightType}}</p>
            </td>
            <td>
              <strong>Source:</strong><div [outerHTML]="freight.Source | freightLocalization"></div>
              <strong>Destination:</strong><div [outerHTML]="freight.Destination | freightLocalization"></div>
            <td>
              <button *ngIf="canModify(freight.UserId)" type="button" mdbBtn color="primary" class="btn blue-gradient btn-sm btn-block" mdbWavesEffect
                [routerLink]="['edit',freight.Id]">Edit</button>
              <button type="button" mdbBtn color="primary" class="btn blue-gradient btn-sm btn-block" mdbWavesEffect
                [routerLink]="[freight.Id]">Show more</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!-- 
<ng-template #rowTemplate let-freights="freights">
  <ng-template ngFor let-freight [ngForOf]="freights" let-hide>
    <tr>
      <td>{{freight.Name}}</td>
      <td>{{freight.Description}}</td>
      <td><button type="button" class="btn blue-gradient btn-sm btn-block"
          (click)="hide = !hide">{{hide ? "show details" : "hide details"}}</button>
      </td>
    </tr>
    <tr [hidden]="hide">
      <div>
        Id: <p>{{freight.Id}}</p>
        Valid To: <p>{{freight.ValidTo | date:'dd-MM-yyyy'}}</p>
        <button type="button" mdbBtn color="primary" class="btn blue-gradient btn-sm btn-block" mdbWavesEffect
          [routerLink]="[freight.Id]">Edit</button>
      </div>
    </tr>
  </ng-template>
</ng-template> -->